SpreadSheet/target/
RabinHashFunction/target/
classes
.project
.settings
SpreadSheet/src/test/resources/TestCases/Photos/ambulanceTemp.jpg
RabinHashFunction/.classpath
SpreadSheet/.classpath
SpreadSheet/src/test/resources/TestCases/Old/
*~
